<!doctype html>
<html lang="de">
   <head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" href="css/weather.css">
       <script src="js/jquery-3.5.1.min.js"></script>
       <script src="https://kit.fontawesome.com/3e2a98790b.js" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
       <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
       <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

   </head>

   <body>
        <div class="container-fluid">
            <div class="row main">

                <div class="col-3 sidebar padding">
                    <h1>
                        <i class="fas fa-thermometer-half"></i>
                        <span id="current_temp">
                        </span><sup>&deg;C</sup>
                    </h1>
                    <h1>
                        <i class="fas fa-tint"></i>
                        <span id="current_hmdt"></span>
                        g/m<sup>3</sup>
                    </h1>
                    <h1>
                        <i class="fas fa-tachometer-alt"></i>
                        <span id="current_pressure"></span>
                        hPa
                    </h1>
                    <h3>
                        Teilweise bewölkt
                        <i class="fas fa-cloud-sun"></i>
                    </h3>
                    <div class="row margin-top">
                        <div class="col-6">
                            <h3>
                                <i class="fas fa-temperature-high"></i>
                                4<sup>&deg;C</sup>
                            </h3>
                            <p>14 Uhr</p>
                        </div>
                        <div class="col-6">
                            <h3>
                                <i class="fas fa-temperature-low"></i>
                                1<sup>&deg;C</sup>
                            </h3>
                            <p>7 Uhr</p>
                        </div>
                    </div>
                    <div class="margin-top">
                        <h5>
                            <i class="far fa-calendar-alt"></i>
                            <span id="timestamp">5. Mai 2020 10:45</span>
                        </h5>
                        <h5>
                            <i class="fas fa-map-marker-alt"></i>
                            Senden, NRW, Deutschland
                        </h5>
                    </div>
                </div>

                <div class="col-9">
                    <div class="row min">
                        <div class="col-12 padding">
                            <h2 class="text-center">Temperatur je Stunde</h2>
                            <div id="temp-vis" style="width: 100%; height: 90%"></div>
                        </div>
                    </div>

                    <div class="row min">
                        <div class="col-6 padding border-top border-right">
                            <h2 class="text-center">Luftdruck</h2>
                            <div id="press-vis" style="width: 100%; height: 90%"></div>
                        </div>
                        <div class="col-6 padding border-top border-right">
                            <h2 class="text-center">Luftfeuchtigkeit</h2>
                            <div id="humi-vis" style="width: 100%; height: 90%"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <script>
            window.onload = async function () {
                await buildVega();
            }

            function setValues(data) {
                var timestamp = new Date(data.temperature);
                var ts_loc = timestamp.toLocaleDateString("de-DE");
                $('#current_temp').html(ts_loc);
                $('#current_hmdt').html(data.humidity);
                $('#current_pressure').html(data.pressure);
                $('#timestamp').html(data.timestamp);
            }

            async function buildVega() {
                let vgt = await vegaEmbed('#temp-vis', '/vega-lite/temperature.json');
                let vgh = await vegaEmbed('#humi-vis', '/vega-lite/humidity.json');
                let vgp = await vegaEmbed('#press-vis', '/vega-lite/pressure.json');

                let measurements = await fetchLatestMeasurements();

                vgt = await vgt.view.insert('temperature', await measurements);
                vgh = vgh.view.insert('humidity', measurements);
                vgp = vgp.view.insert('pressure', measurements);

                setValues(fetchMeasurements());
            }

            window.setInterval(async function(){
                fetchMeasurements();
            }, 5000);

            async function fetchLatestMeasurements() {
                const rs = await fetch('/api/v1/interval/7');
                const result = await rs.json();
                return result;
            }

            async function fetchMeasurements() {
                const rs = await fetch('/api/v1/current/');
                const result = await rs.json();
                setValues(result);
                return result;
            }
       </script>

   </body>
</html>