<!doctype html>
<html lang="de">
   <head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" href="css/weather.css">
       <link rel="stylesheet" href="css/all.min.css">
       <script defer src="js/all.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
       <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
       <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

   </head>

   <body>
        <div class="container-fluid">
            <div class="row main">

                <div class="col-3 sidebar padding">
                    <h1>
                        <i class="fal fa-thermometer-half"></i>
                        <span id="current_temp">3
                        </span><sup>&deg;C</sup>
                    </h1>
                    <h1>
                        <i class="fal fa-humidity"></i>
                        <span id="current_hmdt">3</span>
                        g/m<sup>3</sup>
                    </h1>
                    <h1>
                        <i class="fal fa-tachometer"></i>
                        <span id="current_pressure">3</span>
                        hPa
                    </h1>
                    <h3>
                        Teilweise bewölkt
                        <i class="fal fa-cloud-sun"></i>
                    </h3>
                    <div class="row margin-top">
                        <div class="col-6">
                            <h3>
                                <i class="fal fa-temperature-high"></i>
                                4<sup>&deg;C</sup>
                            </h3>
                            <p>14 Uhr</p>
                        </div>
                        <div class="col-6">
                            <h3>
                                <i class="fal fa-temperature-low"></i>
                                1<sup>&deg;C</sup>
                            </h3>
                            <p>7 Uhr</p>
                        </div>
                    </div>
                    <div class="margin-top">
                        <h5>
                            <i class="fal fa-calendar-alt"></i>
                            Mo, 5. Mai 2020 10:45
                        </h5>
                        <h5>
                            <i class="fal fa-map-marker-alt"></i>
                            Senden, NRW, Deutschland
                        </h5>
                    </div>
                </div>

                <div class="col-9">
                    <div class="row min">
                        <div class="col-12 padding">
                            <h2 class="text-center">Temperatur je Stunde</h2>
                            <div id="temp-vis"></div>
                        </div>
                    </div>

                    <div class="row min">
                        <div class="col-4 padding border-top border-right">
                            <h2 class="text-center">UV Index</h2>
                        </div>
                        <div class="col-4 padding border-top border-right">
                            <h2 class="text-center">Sichtweite</h2>
                        </div>
                        <div class="col-4 padding border-top">
                            <h2 class="text-center">Wind</h2>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <script>
            function fetchVegaSpecs() {
                $.ajax({
                    type: 'GET',
                    url: 'http://ubuntu.fritz.box:8000/vega-lite/vlSpecs',
                    success: function (data) {
                        return data
                    },
                    error: function (xhr, ajaxOptions, thrownError){
                        alert('error!');
                    }
                });
            }


            function getValues() {
                $.ajax({
                    type: 'GET',
                   url: '/api/v1/current/',
                   success: function (data) {
                       console.log(data);
                       //value = JSON.parse(data);
                       $('#current_temp').html(data.temperature);
                       $('#current_hmdt').html(data.humidity);
                       $('#current_pressure').html(data.pressure);
                       return data
                    },
                    error: function (xhr, ajaxOptions, thrownError){
                       alert('error!');
                    }
                });
            }

            $(document).ready(function () {
               let v = vegaEmbed('#temp-vis', fetchVegaSpecs());
               window.setInterval(function(){
                   let data = getValues();
                   v.view.insert("temperature", data)
               }, 5000);
            });
       </script>

   </body>
</html>